/* GLOBAL */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap");

:root {
    --primary-color-dark: #363435;
    --smooth-white: rgba(255, 255, 255, .5);
}
* {
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

a {
    color: rgba(255,255,255,0.9);
    text-decoration: none;
}


/* Navbar/Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;

    height: 3.5rem;
    width: 100%;
    padding: 0 2rem;
    background-color: var(--primary-color-dark);
}

/* Back to Menu */
#back-to-menu-container img {
    width: 1.8rem;
    height: 1.8rem;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
}

header li {
    margin-left: .8rem;
}

header nav a {
    font-size: 1.2rem;
    transition: color .5s, text-shadow .5s;
}

header nav a:hover {
    color: white;
    text-decoration: underline;
    text-shadow: 0 0 25px var(--smooth-white);
}


/* MAIN */
main {
    width: 85%;
    margin: 3.5rem auto;
}

article + article,
.product + .product {
    margin-top: 2rem;
}

article h1, article h2 {
    margin: .5rem 0;
}

article h1 {
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    
    position: relative;
    display: inline-block;
}

article h2 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 1rem;
}

article p {
    margin: 0 0 0 1.5rem;
    text-align: justify;
}


/* risco */
main article h1::after {
    content: '';
    
    background-color: var(--primary-color-dark);
    border-radius: 10px;

    height: 2px;
    width: 85%;
    
    position: absolute;
    left: 7.5%;
    bottom: 0;
}


/* FOOTER */
footer {
    text-align: center;
    background-color: var(--primary-color-dark);

    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 1.5rem;
}

.social + .social {
    margin-left: 3rem;
}

/* escrita das redes */
footer .spans {
    display: flex;
    flex-direction: column;
}

footer span {
    color: rgba(255, 255, 255, .65);
    transition: color .3s ease-in-out, text-shadow .3s ease-in-out;
}

/* o segundo span (@ da rede) e quando passa o mouse por cima */
footer a:hover span,
footer .spans span + span {
    color: white;
    text-shadow: 0 0 20px rgba(255, 255, 255, .4);
}


/* RESPONSIVE */
@media(max-width: 600px) {
    footer {
        flex-direction: column;
    }
    .social + .social {
        margin: 1rem 0 0;
    }
}