@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
    
    text-align: center;
    flex-direction: column;
    padding: 5rem;

    transition: background 0.3s linear, color 0.3s linear;
}

body.dark {
    color: #fff;
    background-color: #1f1f1f;
}

.toggle-container {
    position: fixed;
    top: 10px;
    right: 10px;
}

.toggle-container input {
    visibility: hidden;
}

body.dark label {
    background-color: #fff;
}

.toggle-container label {
    background-color: rebeccapurple;
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
    cursor: pointer;
    display: inline-block;
    user-select: none;
    transition: background 0.3s linear;
}


#back-to-menu-container {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 1.8rem;
    height: 1.8rem;
    overflow: hidden;
}

#back-to-menu-container img {
    width: 1.8rem;
    height: 1.8rem;
    transform: translateY(-2.25rem);
}

#back-to-menu-container img.hide {
    visibility: hidden;
}

body.dark #back-to-menu-container img.arrow-white,
#back-to-menu-container img.arrow-dark.hide {
    transform: translateY(0);
}